@import url('https://fonts.googleapis.com/css2?family=Righteous&family=Sarala:wght@400;700&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
}

:root {
    --fonte-titulo: "Righteous", sans-serif;
    --fonte-texto: "Sarala", sans-serif;
    --cor-branco: #FFF2E7;
    --cor-creme: #ECD6C4;
}

body {
    font-size: 100%;
    background: linear-gradient(68deg, #2F2325 16.62%, #8E5D52 85.61%);
}

.cabecalho {
    display: flex;
    flex-direction: row;
    height: 96px;
    align-items: center;
    justify-content: space-around;
    padding: 28px;
}

.cabecalho__imagem {
    height: 72px;
}

.cabecalho__menu {
    display: flex;
    gap: 40px;
}

.cabecalho__menu__item {
    font-family: var(--fonte-texto);
    font-size: 18px;
    font-weight: 400;
    color: var(--cor-branco);
}

.conteudo {
    border-top: 0.4px solid var(--cor-creme);
    border-bottom: 0.04px solid var(--cor-creme);
    display: flex;
    flex-direction: column;
    padding: 24px 24px 72px 24px;
}

.conteudo__principal {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
}

.conteudo__principal__escrito {
    padding-left: 80px;
    display: flex;
    flex-direction: column;
    gap: 32px;
}

.conteudo__principal__escrito__titulo {
    font-family: Righteous;
    font-size: 64px;
    font-weight: 400;
    color: var(--cor-creme);
    padding-top: 46px;
}

.conteudo__principal__escrito__subtitulo {
    font-family: Sarala;
    font-size: 24px;
    margin-top: 10px;
    font-weight: 400;
    color: var(--cor-branco);
}

.conteudo__principal__escrito__botao {
    margin-top: 10px;
    border: none;
    text-align: center;
    font-family: var(--fonte-texto);
    font-size: 24px;
    font-weight: 400;
    width: 185px;
    height: 67px;
    border-radius: 20px;
    background-color: var(--cor-creme);
    box-shadow: 4px 5px 4px 0px rgba(0, 0, 0, 0.25);
    }

.conteudo__principal__escrito__botao:hover {
    background-color: rgba(236, 214, 196, 0.53);
}

.conteudo__secundario {
    margin-top: 48px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 31px;
    justify-content: space-around;
}

.conteudo__secundario__titulo {
    border-top: 0.4px solid var(--cor-creme);
    padding-top: 48px;
    margin-bottom: 20px;
    font-family: var(--fonte-titulo);
    font-size: 24px;
    color: var(--cor-branco);
    font-weight: 400;
}

.conteudo__secundario__paragrafo {
    font-family: var(--fonte-texto);
    font-size: 18px;
    color: var(--cor-branco);
    font-weight: 400;
}

strong {
    font-weight: 700;
}

.rodape {
    padding-top: 31px;
    padding-bottom: 45px;
    text-align: center;
}

